.gmail-row {
  padding: 8px;
  border-bottom: 1px solid rgba(16, 65, 87, 0.08);

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fa-sort-down {
      margin-left: 20px;
      margin-top: -10%;
    }
  }

  &__title {
    display: flex;
    color: #FF5722;
    align-items: center;
    margin-left: 32px;
    box-sizing: border-box;

    a {
      color: #FF5722;
      display: block;
      padding: 11px;
      position: relative;

      i {
        position: absolute;
        top:0;
        left: 50%;
      }
    }
  }

  &__config {
    display: flex;

    .link {
      display: block;
      background: #ECEFF1;
      width: 40px;
      height: 32px;
      margin-right: 16px;
      position: relative;
      border-radius: 5px;
      border: 1px solid #9E9E9E;

      &:hover {
        background: darken(#ECEFF1, 10%);
      }

      &:hover i {
        color: black;
      }

      i {
        color: #9E9E9E;
        position: absolute;
      }

      .fa-square, .fa-check-square {
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
      }

      .fa-sort-down {
        top: 40%;
        right: 15%;
        transform: translateY(-50%);
        z-index: 30;
      }

      .fa-spinner {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .fa-trash {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .fa-ellipsis-v {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

      .fa-cog {
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
      }

      .fa-sort-down {
        top: 40%;
        right: 15%;
        transform: translateY(-50%);
      }

      .fa-chevron-left {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .fa-chevron-right {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.link-left {
  position: relative;

  &:first-child {
    width: 64px;
  }

  .highlight-messages {
    position: absolute;
    top: 80%;
    left: 0;
    background-color: white;
    z-index: 20;
    margin: 0;
    padding: 10px 0 10px 0;
    list-style: none;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.25);

    li {
      padding: 0 10px 10px 15px;
      &:hover {
        background: darken(#ECEFF1, 5%);
        cursor: pointer;
      }
    }
  }
}

.link-right {
  &:last-child {
    width: 64px;
  }
}