@import "cols";
@import "mixins";
@import "header";
@import "gmail-row";
@import "content";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: #9E9E9E;
  text-decoration: none;
}

.container {

  width: 100%;

  @include small {
    max-width: 540px;
  }

  @include medium {
    max-width: 720px;
  }

  @include large {
    max-width: 960px;
  }

  @include xl {
    max-width: 1140px;
  }

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
